################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Discord-Random-Nickname-Change/v15/.suo
